*.pyc
.vscode
output/
build/
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d/
screenshots/
data/
dataset/
*.ply
*.pth
__pycache__/
SIBR_viewers/
tools/
viewers/
*.egg-info/